:root {
  --default-font: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font);
}
h1 {
  font-family: "Playfair Display", serif;
}

.hero {
  text-align: center;
  background-color: aliceblue;
}
