:root {
  --default-font: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--default-font);
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 30px;
}

.hero {
  text-align: center;
  background-color: #f9f7fe;
  padding: 120px 20px;
}

h2 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
}
.hero h2 {
  font-size: 36px;
  font-weight: bold;
}
h4 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.hero p {
  font-size: 24px;
  color: #272142;
  margin-bottom: 30px;
}

.projects-button {
  font-size: 18px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  padding: 18px 30px;
  color: white;
  text-decoration: none;
}
.contact-button {
  font-size: 18px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  padding: 18px 30px;
  color: white;
}
.hero {
}

.btn-branding {
  font-size: 18px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 18px 30px;
}

.row p {
  opacity: 70%;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 2;
    padding: 0;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  nav a {
    font-size: 12px;
  }
  .about-content {
    padding: 0;
  }
  footer {
    margin: 0;
  }

  .btn {
    font-size: 18px;
    padding: 10px;
  }
}

.about-content {
  margin: 30px;
  padding: 200px 20px;
}
.about-content h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-content h2 {
  font-family: var(--default-font);
  font-size: 18px;
}
.about-content p {
  opacity: 100%;
}
.about-content img {
  border-radius: 15px;
  text-align: center;
}
.about-details {
  text-align: center;
}

.container h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.container p {
  font-size: 14px;
}

.content h3 {
  font-weight: bold;
}

.logo {
  max-height: 40px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
  font-size: 18px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav {
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #272142;
  /*opacity: 70%;*/
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 20px;
}
footer .email-link:hover {
  color: var(--primary-color);
}

footer {
  margin: 60px;
}

footer .social-links {
  color: var(--primary-color);
  padding: 50px;
}

footer .social-links a {
  color: var(--primary-color);
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 60px;
  border-radius: 10px;
  margin-bottom: 50px;
}

footer .contact-box p {
  margin: 0;
}
